consul:
  lookup:
    agent:
      log: true
      pkg:
        install: true
        service: true
        version: 0.6.3
      scripts:
        -
          source: salt://test-data/scripts/test1.sh
        -
          name: test2
          source: salt://test-data/scripts/test2.sh
      ssl: 
        enabled: true
        dir: /etc/consul/ssl
        ca:
          source: salt://test-data/ssl/ca.cert
        cert:
          source: salt://test-data/ssl/consul.cert
        key:
          source: salt://test-data/ssl/consul.key
      opts:
        server: 
      config:
        bootstrap: true
        bind_addr: 0.0.0.0
        client_addr: 0.0.0.0
        retry_interval: 30s
        ca_file: /etc/consul/ssl/ca.cert
        cert_file: /etc/consul/ssl/consul.cert
        key_file: /etc/consul/ssl/consul.key
        verify_incoming: true
        verify_outgoing: true
        ports:
          http: 9999
      services:
        -
          id: webui
          name: consul-webui
          tags:
            - master
          address: 127.0.0.1
          port: 8500
          checks:
            -
              http: http://127.0.0.1:9999/ui/
              interval: 30s
              timeout: 10s
      checks:
        -
          id: ssh
          name: ssh local
          tcp: localhost:22
          interval: 30s
          timeout: 10s



    template:
      log: true
      ssl: 
        enabled: true
        dir: /etc/consul/ssl
        ca:
          source: salt://test-data/ssl/ca.cert
        cert:
          source: salt://test-data/ssl/consul.cert
        key:
          source: salt://test-data/ssl/consul.key
      pkg:
        install: true
        service: true
      opts:
        consul:
         - 127.0.0.1
      config:
        log_level: debug
      templates:
        - 
          name: test2.ctmplt
          source: salt://test-data/templates/test.ctmplt
          config:
            destination: /tmp/test.rendered.tmplt
            command_timeout: 60s

