{%- from 'consul/map.jinja' import agent_settings with context -%}
[Unit]
Description=Consul Agent
Wants=basic.target
After=basic.target network.target

[Service]
User=consul
Group=consul
ExecStart=/usr/local/bin/consul agent {% for key, value in agent_settings.get("opts").iteritems() -%} 
{% for opt in value %}-{{ key }}={{ opt }} {% endfor -%} 
{% endfor %}

ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
KillMode=process
Environment=GOMAXPROCS={{ salt['grains.get']('num_cpus') }}

[Install]
WantedBy=multi-user.target
