{%- from 'consul/map.jinja' import agent_settings with context -%}

description "Consul Agent"
start on (filesystem and net-device-up !IFACE=lo)
stop on runlevel [!2345]

respawn
kill signal SIGINT
setuid consul
setgid consul

script
# Prevents Consul from blocking a scheduler thread
export GOMAXPROCS={{ salt['grains.get']('num_cpus') }}

exec consul agent {% for key, value in agent_settings.get("opts").iteritems() -%}
{% for opt in value %}-{{ key }}={{ opt }} {% endfor -%} 
{% endfor %}
{%- if agent_settings.log == true %}>> {{ agent_settings.log_dir }}/agent.log 2>&1 {% endif %}

end script
